{% extends 'base.html' %}

{% block title %}Room Dashboard{% endblock %}

{% block content %}
    <h1 class="heading">Room Inventory</h1>
        <div style="text-align: right; position: relative; text-align: right;">
        <a href="{{ url_for('add_rooms', building_id=building_id) }}" class="button1">Add</a>
        </div>


    <form method="get" action="{{url_for('room_index', building_id=building_id)}}" class="filter-form">
        <div class="form-group">
            <input type="text" name="search" placeholder="Search…" value="{{ search_query or ''}}" class="search">
        </div>
    </form>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for room in rooms %}
            <tr>
                <td>{{ room['room'] }}</td>
                <td>

                        <form method="post" action="{{ url_for('delete_rooms', room_id = room['id']) }}" onsubmit="return confirm('Are you sure you want to delete {{room['room']}}?')">
                        <button type="submit">Delete</button>
                        </form>

               </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
